@media (min-width: 640px) {
    .table-order {
      display: inline-table !important;
    }

    .table-order thead tr:not(:first-child) {
      display: none;
    }
  }

  td:not(:last-child) {
    border-bottom: 0;
  }

  th:not(:last-child) {
    border-bottom: 2px solid rgba(0, 0, 0, .1);
  }

  .container {
    margin-left: 5%;
  }